

<nav
      class="top-0 absolute z-50 bg-gray-600 w-full flex flex-wrap items-center justify-between mt-0 px-0 py-0 navbar-expand-lg "
    >
<!-- <div class="bg-yellow1 text-center w-full py-1">
      <div class="p-2 bg-yellow-600 items-center text-yellow-100 leading-none rounded-full flex inline-flex" role="alert">
       <a href="https://www.youtube.com/watch?v=ZCgduwim1XQ"> <span class="font-semibold mr-2 text-left flex-auto">Check out our grand opening video!</span> </a>
        
      </div>
    </div>
    -->
    
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
      >
        <div
          class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
        >
          <a
            class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
            href="/"
            ><img src="../assets/img/Ubunifu.png" class="h-12 w-35"></a
          ><button
            class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
            type="button"
            onclick="toggleNavbar('example-collapse-navbar')"
          >
            <i class="text-white fas fa-bars"></i>
          </button>
        </div>
        <div
          class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden"
          id="example-collapse-navbar"
        >
          <ul class="flex flex-col lg:flex-row list-none mr-auto">
       
          </ul>
          <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="https://www.facebook.com/ubunifuhubs"
                ><i
                  class="lg:text-yellow1 text-gray-500 fab fa-facebook text-lg leading-lg "
                ></i
                ><span class="lg:hidden inline-block ml-2">Share</span></a
              >
            </li>
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="https://instagram.com/ubunifu_hubs"
                ><i
                  class="lg:text-yellow1 text-gray-500 fab fa-instagram text-lg leading-lg "
                ></i
                ><span class="lg:hidden inline-block ml-2">Tweet</span></a
              >
            </li>
          
            <li class="flex items-center">
            <a href="/blog" > <button
                
                class="bg-white text-logo2 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
                type="button"
                style="transition: all 0.15s ease 0s;"
              >
                <i class="text-logo2 fas fa-bars"></i> Blog
              </button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>